.divPadre{
    background-color: rgb(209, 189, 163);
    border-radius: 5%;
    display: flex;
    flex-direction:column ;
    align-items: center;
    padding: 10px;
}

.divPadre:hover{
    background-color: rgba(209, 189, 163, 0.734);
}
.divImage{
   display: inline;
   height: 80px;
   padding-bottom: 5%;
}
.divImage:hover{
    cursor: pointer;
}

h4,h3{
    margin: 0;
}
