.divPadre{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.divHijo{
    margin-top: 10px ;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 25%;
    border-radius: 5%;
    background-color: rgb(209, 189, 163);
}
.img{
    width: 200px;
    float: left;
}
.divH1{
    font-size: 70%;
}

.buttonVolver{
    margin-top: 5px;
    width: 5%;
    font-size: 18px;
    border-radius: 10px;
}
.buttonVolver:hover{
    cursor: pointer;
    background-color: rgb(77, 191, 191);
}
